@{
    ViewData["Title"] = "Register";
    ViewData["ExtraClass"] = "gray-bg";
}

@using L2ACP.Models
@model RegisterViewModel
<div class="wrapper wrapper-content animated fadeIn">
    <div class="middle-box text-center loginscreen">
        <div>
            <div>
                <h1 class="logo-name">ACP</h1>
            </div>
            <h3>Welcome to L2ACP</h3>
            <p>Login using your ingame credentials</p>
            <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="m-t">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input type="text" asp-for="Username" class="form-control" placeholder="Username" required="">
                </div>
                <div class="form-group">
                    <input type="password" asp-for="Password" class="form-control" placeholder="Password" required="">
                </div>
                <div class="form-group">
                    <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Register</button>

                <a class="btn btn-sm btn-white btn-block" asp-action="Login">Login</a>
            </form>
            <p class="m-t"> <small>L2ACP &copy; 2017</small> </p>
        </div>
    </div>
</div>