@*
    Copyright (C) 2017  Nick Chapsas
    This program is free software: you can redistribute it and/or modify it under
    the terms of the GNU General Public License as published by the Free Software
    Foundation, either version 2 of the License, or (at your option) any later
    version.

    L2ACP is distributed in the hope that it will be useful, but WITHOUT
    ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
    FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
    details.

    You should have received a copy of the GNU General Public License along with
    this program. If not, see <http://www.gnu.org/licenses/>.
*@
@{
    ViewData["Title"] = "Analytics";
}
@using Microsoft.AspNetCore.Html
@using Newtonsoft.Json
@model L2ACP.Models.AnalyticsViewmodel

<div class="row">
    <div class="col-lg-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Online players <small> Displays what the server traffic is during the day</small></h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content" style="position: relative">
                <div id="morris-area-chart" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                    
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/js/morris/morris.js"></script>
    <script>

        Morris.Area({
            element: 'morris-area-chart',
            data: @(new HtmlString(JsonConvert.SerializeObject(Model.OnlinePlayers))),
            xkey: 'Timestamp',
            ykeys: ['Count'],
            labels: ['Online Players'],
            pointSize: 1,
            hideHover: 'auto',
            resize: true,
            lineColors: ['#87d6c6'],
            lineWidth:2
        });
    </script>
}


@section css{
    <link href="/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
}