@{
    ViewData["Title"] = "Admin area";
}

<div class="row">
    <div class="col-lg-2">
        <div class="row">
            <div class="col-lg-12">
                <div id="acpManage" class="widget navy-bg p-lg text-center">
                    <div class="m-b-md">
                        <i class="fa fa-dashboard fa-4x"></i>
                        <h3 class="font-bold no-margins">
                            L2ACP Managment
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="playerManage" class="widget navy-bg p-lg text-center">
                    <div class="m-b-md">
                        <i class="fa fa-user-o fa-4x"></i>
                        <h3 class="font-bold no-margins">
                            Player Managment
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="serverManage" class="widget navy-bg p-lg text-center">
                    <div class="m-b-md">
                        <i class="fa fa-server fa-4x"></i>
                        <h3 class="font-bold no-margins">
                            Server Managment
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-10">
        <div id="adminwrapper">
        </div>
    </div>

</div>
    @section Scripts{
        <script>
            $('#acpManage').click(function () {
                $.get("/admin/acpManage", function (data) {
                    $('#adminwrapper').html(data);
                }
                );
            });

            $('#playerManage').click(function () {
                $.get("/admin/playerManage", function (data) {
                    $('#adminwrapper').html(data);
                }
                );
            });

            $('#serverManage').click(function () {
                $.get("/admin/serverManage", function (data) {
                    $('#adminwrapper').html(data);
                }
                );
            });
        </script>
    }
