@using L2ACP.Controllers
@using L2ACP.Extensions
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Services Page"];
}
@model IndexViewModel

<div class="row  border-bottom white-bg dashboard-header">
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="col-md-9">
            <h2>@Localizer["Welcome"] @Context.GetUsername()</h2>
            <select id="charsSelect" class="form-control m-b" asp-items="new SelectList(Model.CharacterNames)" name="account">
                <option selected="selected" disabled="disabled">@Localizer["Please select a character"]</option>
            </select>
            <div class="row">
                <div class="col-lg-12">
                    <div id="mainservices">

                    </div>
                </div>

            </div>
            <div class="col-md-3">

            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content">

                </div>
                <div class="footer">
                    <div>
                        <strong>@Localizer["Copyright"]</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

@section Scripts{
    <script>
        $('#charsSelect').change(function() {
            $.get("/getservices",
                function (data) {
                    $('#mainservices').html(data);
                });
        });
    </script>
}