
<div class="wrapper wrapper-content animated fadeIn">
    <div class="col-lg-2">
        <div id="buyitems" class="widget navy-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-shopping-cart fa-4x"></i>
                <h3 class="font-bold no-margins">
                    Buy ingame items
                </h3>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div id="donateServices" class="widget navy-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-plus fa-4x"></i>
                <h3 class="font-bold no-margins">
                    Player services
                </h3>
            </div>
        </div>
    </div>
</div>
