@*
    Copyright (C) 2017  Nick Chapsas
    This program is free software: you can redistribute it and/or modify it under
    the terms of the GNU General Public License as published by the Free Software
    Foundation, either version 2 of the License, or (at your option) any later
    version.

    L2ACP is distributed in the hope that it will be useful, but WITHOUT
    ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
    FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
    details.

    You should have received a copy of the GNU General Public License along with
    this program. If not, see <http://www.gnu.org/licenses/>.
*@
@using L2ACP.Models
@using L2ACP.Responses
@using L2ACP.Services
@model L2ACP.Responses.GetInventoryResponse
@inject AssetManager AssetManager

<div class="wrapper wrapper-content animated fadeIn">
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tbody>
                <tr>
                    <th>Item Icon</th>
                    <th>Item Name</th>
                    <th>Enchant</th>
                </tr>
                @foreach (InventoryInfo item in Model.InventoryInfo)
                {
                    L2Item currentItem = AssetManager.GetItems().FirstOrDefault(x => x.Key == item.ItemId).Value;
                    if (!currentItem.Enchantable)
                    {
                        continue;
                    }
                    <tr>
                        <td><img alt="image" src="/images/gameIcons/@(currentItem.Image).png"> </td>
                        <td>@currentItem.Name +<span class="currentEnch">@item.Enchant</span></td>
                        <td><button class="btn btn-primary enchantBtn" data-objId="@item.ObjectId" type="button">+</button></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    </div>
    <script>
        $('.enchantBtn').click(function () {
            var clicked = $(this);
            var itemObjId = $(this).attr('data-objId');
            var playerName = $('#charsSelect').val();
            $.get("/enchantitem/" + playerName + "/" + itemObjId,
                   function (data) {
                       // $('#mainservices').html(data);
                       if (data == "ok") {
                           var cur = clicked.closest('tr').find('.currentEnch');
                           cur.text(parseInt(parseInt(cur.text()) + 1));
                       } else {
                           alert('Something went wrong!');
                       }

                   });
        });
    </script>
