<div class="contact-box center-version">

    <a href="profile.html">
        
        <img alt="image" class="img-circle" src="/images/gameIcons/human_fighter_male.png">


        <h3 class="m-b-xs"><strong>Elfocrash</strong></h3>

        <div class="font-bold">No title</div>
        <address class="m-t-md">
            <strong>Clan: </strong>No clan<br>
        </address>

    </a>
    <div class="contact-box-footer">
        <div class="m-t-xs btn-group">
            <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Restore</a>
        </div>
    </div>

</div>